.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
  border-bottom: 1px solid lightgray;
  gap: 150px;
}

.ant-layout-header {
  background: #ffffff;
}

.header-title {
  margin: 0 !important;
}

.header-text {
  margin: 0 !important;
  font-size: 17px;
}
